body {
  background-color: #f8f8ff
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.container img {
  width: 100%;
  opacity: 0.7;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 5em;
  font-style: oblique;
  font-family: 'Bodoni Moda', serif;
  color: red;

}
.product-price {
  float: left;
  width: 20%;
}
.product-quantity {
  float: left;
  width: 20%;
 }
.product-removal {
  float: left;
  width: 20%;
}
.product-line-price {
  float: left;
  width: 20%;
  text-align:right;
 }
