body {
  background-color: #f8f8ff
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.container img {
  width: 100%;
  opacity: 1;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 5em;
  font-style: oblique;
  font-family: 'Bodoni Moda', serif;

}
